{{ ansible_managed | comment }}
auth-provider: {{ guacamole_auth_provider }}
{% if guacamole_basic_user_mapping is defined and guacamole_basic_user_mapping|string %}
basic-user-mapping: {{ guacamole_basic_user_mapping }}
{% endif %}
guacd-hostname: {{ guacamole_server_hostname }}
{% if guacamole_server_port is defined and guacamole_server_port|int %}
guacd-port: {{ guacamole_server_port }}
{% endif %}
user-mapping: /etc/guacamole/user-mapping.xml
{% if guacamole_mysql_auth %}
mysql-hostname: {{ guacamole_mysql_db['host'] }}
mysql-port: {{ guacamole_mysql_db['port'] }}
mysql-database: {{ guacamole_mysql_db['name'] }}
mysql-username: {{ guacamole_mysql_db['username'] }}
mysql-password: {{ guacamole_mysql_db['password'] }}
{% endif %}
+{% if guacamole_openid_auth %}
+openid-authorization-endpoint: {{ guacamole_openid['authorization-endpoint'] }}
+openid-jwks-endpoint: {{ guacamole_openid['jwks-endpoint'] }}
+openid-issuer: {{ guacamole_openid['issuer'] }}
+openid-client-id: {{ guacamole_openid['client-id'] }}
+openid-redirect-uri: {{ guacamole_openid['redirect-uri'] }}
+openid-username-claim-type: {{ guacamole_openid['username-claim-type'] }}
+openid-groups-claim-type: {{ guacamole_openid['groups-claim-type'] }}
+openid-allowed-clock-skew: {{ guacamole_openid['allowed-clock-skew'] }}
+{% endif %}
